body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #233a77;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 60px auto;
    padding: 30px;
    background: transparent;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }
  
  h1 {
    color: #58b8cb;
    text-align: center;
    cursor: default;
  }
  
  h2 {
    padding: 2px 5px 10px 5px;
    font-size: 27px;
    font-family: Georgia;
    text-align: center;
    text-transform: uppercase;
  }
  
  #fetch-posts {
    display: block;
    width: 100%;
    padding: 11px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    background-color: #57acbc;
    transition: background-color 0.2s;
  }
  
  #fetch-posts:enabled:hover {
    background-color: rgba(87, 171, 188, 0.552);
  }
  
  #fetch-posts:disabled {
    background-color: rgba(87, 171, 188, 0.552);
    cursor: not-allowed;
  }
  
  #post-container {
    margin-top: 30px;
  }
  
  .post {
    background-color: #e4e4e4;
    cursor: pointer;
    transition: background-color 0.2s, border 0.2s;
    border-radius: 3px;
  }
  
  .post:hover {
    background-color: white;
    box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.2);
  }
  
  .post p {
    font-size: 20px;
    margin-left: 7px;
    padding: 10px;
  }